apiVersion: apps/v1
kind: Deployment
metadata:
  name: webgoat-java
  labels:
    app.kubernetes.io/name: webgoat-java
    contrast/inject: java
spec:
  replicas: 2
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: webgoat-java
  template:
    metadata:
      labels:
        app.kubernetes.io/name: webgoat-java
    spec:
      containers:
        - image: webgoat/webgoat-8.0:v8.1.0
          name: app
          ports:
            - containerPort: 80
              name: http
          livenessProbe:
            httpGet:
              path: /
              port: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
          resources:
            limits:
              cpu: '1'
              memory: 1024M
